<!DOCTYPE html>
<html kmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
		<h1>MENU CALCULADORA</h1>
		<ul>
		<li><a href="calculoSuma?num1=700&num2=300">Suma</a></li>
		<li><a href="calculoResta?num1=80&num2=20">Resta</li>
		<li><a href="calculoMul?num1=20&num2=30">Multiplicacion</li>
		<li><a href="calculoDiv?num1=100&num2=25">Division</li>
		<li><a href="calculoPot?num1=2&num2=5">Potencia</li>
		<li><a href="calculoRz?num1=25&num2=2">Raiz de nro a con nro b de indice</li>
			
		</ul>
</body>
</html>